html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 1.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: green;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small {
  width: 50px;
  height: 50px;
  font-size: 2rem;
}
.medium {
  width: 25px;
  height: 25px;
  font-size: 1.5rem;
}
.large {
  width: 20px;
  height: 20px;
  font-size: 1rem;
}

.board div:hover {
  background-color: white;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/bomb.svg") crimson;
}

div.hidden {
  background: #eee;
}

div.hidden:hover {
  background: #ccc;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") deepskyblue;
}

.reset {
  align-items: center;
  display: flex;
  margin-top: 30px;
}

.reset-form {
  margin: 0px 30px;
}
.resetbutton {
  margin-top: 30px;
  width: 100px;
  height: 35px;
  background-color: #b3ccff;
  text-align: center;
  font-size: 1.25rem;
  padding-top: 10px;
  border-radius: 10%;
  border: 2px #6699ff
}

.resetbutton:hover {
  background-color: #6699ff;
}

.hintbutton {
  margin-top: 10px;
  width: 100px;
  height: 35px;
  background-color: #ff5050;
  text-align: center;
  font-size: 1.25rem;
  padding-top: 10px;
  border-radius: 10%;
  border: 2px #ff1a1a
}
.hintbutton:hover {
  background-color: #ff1a1a;
}

div.minehint {
  border-color: red;
}

.emptyhint {
  border-color: green;
}
